# Data Loading

## Data loading with Pandas
Load `adult` dataset using Pandas.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("adult.csv",index_col=0)

In [ ]:
df.head()

In [ ]:
df.loc[0,'age']

39

In [ ]:
df.iloc[0,0]

39

In [ ]:
df2 = df.drop(0)

In [ ]:
df2.head()

In [ ]:
df.loc[1,'age']

50

In [ ]:
df.iloc[0,0]

39

## Simple analysis
- Check the shape of the dataset,
- list the column names count number of unique values in `income` column,
- plot the histogram of age grouped by income

In [ ]:
df.shape

(32561, 14)

In [ ]:
df.columns

Index(['age', 'workclass', 'education', 'education-num', 'marital-status',
       'occupation', 'relationship', 'race', 'gender', 'capital-gain',
       'capital-loss', 'hours-per-week', 'native-country', 'income'],
      dtype='object')

In [ ]:
df['income'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [ ]:
df['income'].value_counts()

In [ ]:
990 - negative
10 - positive

In [ ]:
df.groupby('income')['age'].agg(['min', 'max', 'mean'])

In [ ]:
import matplotlib.pyplot as plt
df.groupby('income')['age'].hist(legend=True)

# Splitting into training and test data

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [ ]:
X_train.head()

In [ ]:
X_train.head()

# Exercise I
Load the "boston house prices" dataset from the ``boston_house_prices.csv`` file using the ``pd.read_csv`` function (you don't need ``index_column`` here).
You can find a description of this dataset in the ``boston_house_prices.txt`` file.

This is a regression dataset with "MEDV" the median house value in a block in thousand dollars the target.
How many features are there and how many samples?

Split the data into a training and a test set for learning.
Optionally you can plot MEDV vs any of the features using the ``plot`` method of the dataframe (using ``kind="scatter"``).

## Load Datasets from ScikitLearn
Load digits dataset from sklearn

# Exercise II

Load the iris dataset from the ``sklearn.datasets`` module using the ``load_iris`` function.
The function returns a dictionary-like object that has the same attributes as ``digits``.

What is the number of classes, features and data points in this dataset?
Use a scatterplot to visualize the dataset.

You can look at ``DESCR`` attribute to learn more about the dataset.